{% extends "page/account/inc/account_menu.html.twig" %}

{% block account_menu %}
    {% if oViewConf.getIsVaultingActive() %}
        <a class="dropdown-item{% if active_link == "oscPayPalVaulting" %} active{% endif %}"
           href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=oscaccountvault" }) }}" title="{{ translate({ ident: "OSC_PAYPAL_VAULTING_MENU" }) }}">
            {{ translate({ ident: "OSC_PAYPAL_VAULTING_MENU" }) }}
        </a>
        <a class="dropdown-item{% if active_link == "oscPayPalVaultingCard" %} active{% endif %}"
           href="{{ seo_url({ ident: oViewConf.getSslSelfLink() ~ "cl=oscaccountvaultcard" }) }}" title="{{ translate({ ident: "OSC_PAYPAL_VAULTING_MENU_CARD" }) }}">
            {{ translate({ ident: "OSC_PAYPAL_VAULTING_MENU_CARD" }) }}
        </a>
    {% endif %}
    {{ parent() }}
{% endblock %}